<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.edaily.sysuedaily"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".SysuedailyApp" >
        <activity
            android:name=".LoadActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            
        </activity>
        <activity 
            android:name=".tabactivities.WeiboActivity"></activity>
        <activity 
            android:name=".tabactivities.NewsActivity"></activity>
        <activity 
            android:name=".tabactivities.HelpActivity"></activity>
        <activity 
            android:name=".tabactivities.TopicActivity"></activity>
        <activity 
            android:name=".tabactivities.IrrigationActivity"></activity>
        <activity 
            android:name=".tabactivities.HeadlineActivity"></activity>
        <activity 
            android:name=".tabactivities.CampusActivity"></activity>
        <activity 
            android:name=".tabactivities.LectureActivity"></activity>
        <activity 
            android:name=".tabactivities.JobActivity"></activity>
        <activity 
            android:name=".tabactivities.VisionActivity"></activity>
        <activity 
            android:name=".tabactivities.MoreActivity"></activity>
        
        <activity 
            android:name=".DiscoverActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity 
            android:name=".DetailActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"    
			android:configChanges="orientation|keyboardHidden"></activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>